.latest-news {
    font-family: Poppins, sans-serif;
    margin-top: 90px;
}

.latest-news > .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.latest-news h2 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card p {
    margin-bottom: 10px;
    color: rgb(53, 53, 53);
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
}

.card h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(35, 35, 35);
}

.card a {
    text-decoration: none;
}

.card label {
    font-weight: 600;
    color: rgb(16, 128, 240);
    cursor: pointer;
}

.card label:hover {
    text-decoration: underline;
}